---
---

<header class="flex justify-between lg:px-16 2xl:px-20">
	<div class="text-xl lg:text-3xl 2xl:text-5xl">Mersu</div>
	<ul class="text-lg lg:text-2xl 2xl:text-4xl">
		<li>Watches</li>
		<li>Engagement & Wedding</li>
		<li>Jewellery</li>
	</ul>
</header>

<style>
	div {
		font-family: var(--nav-font);
	}

	ul {
		font-family: var(--nav-font);
	}
</style>
