---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="smooth-scroll w-full overflow-x-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen w-full overflow-x-hidden text-white">
		<slot />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fraunces&family=Lato&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@600&display=swap");
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	:root {
		--h1-font: "Abril Fatface", cursive;
		--nav-font: "Fraunces", serif;
		--p-font: "Lato", sans-serif;
	}

	h1,
	h3 {
		text-wrap: balance;
		font-family: var(--h1-font);
	}

	p {
		font-family: var(--p-font);
	}
</style>
